li{
  list-style: none;

}
li > a {
  color: white;

}




.header{
  background-color: black;
  height: 75px;
  width: 100%;

}

.header_flex{
  display: flex;
  height: 60px;
  align-items: center;
  color: white;
}

.header_flex li {
  float: right;
  margin-left: 30px;

}



.main{
  flex: 1;
  background-color: white;
  width: 100%;
  height: 3000px;
  padding-bottom: 270px;

}

.contents{
  padding-top: 200px;
  float: right;
  padding-right: 65px;

}
.contents img{
  position: absolute;
  top:450px;
  left: 150px;
  height: 350px;
  width: 350px;
}

.block-button_link{
  display: inline-block;
  position: absolute;
  border: none;
  padding:.6em 2em;
  top:860px;
  left:580px;
  background-color: black;
  solid: #333;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}

.block-button_link:hover{
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}


.block-button_link: shadow{
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.loliscontents{
  padding-top:220px;
  float: right;
  padding-right: 50px;
}

.loliscontents img{
  position: absolute;
  top: 1050px;
  left: 150px;
}

.block-lolisbutton_link{
  display: inline-block;
  border: none;
  padding: .6em 2em;
  cursor: pointer;
  position: absolute;
  top: 1340px;
  left: 600px;
  background-color: black;
  border: 30px; solid: #333;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}


.block-lolisbutton_link:hover{
  margin-top: 3px;
  color: #fff;
  background: #CCA6BF;
  border-bottom: 2px solid #b84c00;
}
.block-lolisbutton_link: shadow{
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.kaisyagaiyou{
  position: absolute;
  top: 1650px;
  left: 70px;
}

.otoiawase{
  position: absolute;
  top: 2450px;
  left: 70px;
}
.otoiawase-item{
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.otoiawase-item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.otoiawase-item-label {
  width: 100%;
  max-width: 190px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.otoiawase-item-label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
.otoiawase-item-label-required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}
.otoiawase-item-input {
  border: 1px solid #ddd;
  margin-left: 40px;
  border-radius: 6px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 400px;
  background: #eaedf2;
  font-size: 15px;
}
.otoiawase-item-textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
.otoiawase-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.container{
  display: flex;
  flex-direction: column;
}

.footer{
  margin-top: auto;
  background-color: black;
  height: 270px;
  width: 100%;
}
.footer-logo{
  color: white;
  float: left;
  font-size: 25Px;
  padding: 20px 40px;
}
.footer-list{
  float: right;
  color: white;
  padding: 25px 60px;
  background-color: black;
  color: white;
}

.copy-container{
  color:white;
  width: 100%;
  height: 160px;
  padding-top: 80px;
  text-align: center;
  background-image:url(https://images.unsplash.com/photo-1616144049673-799a1a9c2f10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzA1fHxvZmZpY2UlMjBzcGFjZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100% auto;

}
@media screen and (max-width: 959px) {
  .main{
    height: 3500px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .contents{
    padding-top: 500px;
  }
  .block-button_link{
    top: 1160px;
    left: 100px;
  }
  .loliscontents img{
    top: 1600px;
    left: 400px
  }
  .block-lolisbutton_link{
    top: 1700px;
    left: 50px;
  }
  .kaisyagaiyou{
    top: 2050px;
  }
  .otoiawase{
    top: 2850px;
  }

}

@media screen and (max-width: 480px) {
  .main {
    font-size: 1.5625vh;
    max-width: 100%;
  }
 .header{
   width: 100%;
   max-width: 100%;
 }

 .copy-container{
   height: 110px;
 }
 .contents{
   max-width: 100%;
  margin: 0 auto;
  padding-top: 400px;
  padding-right: 48px;
 }
  img {
    width: 350px;
    max-width: 100%;
    height: auto;

  }

.block-button_link{
  position: relative;
  top: 15px;
  left: 78px;
}
.contents img{
  left: 0;
  height: auto;
  top: 300px;
}

.loliscontents{
  padding-top: 110px;
}
.block-lolisbutton_link{
  top: 1590px;
  left: 80px;
}
.loliscontents img{
  position: relative;
  width: 230px;
  top: 1%;
  left: 10%;

}
.kaisyagaiyou{
  left: 30px;
  padding-right: 10px;
}

.otoiawase{
  left: 20px;
  padding-right: 37px;
}
.footer{
  max-width: 100%;
}
.otoiawase-item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }

  .otoiawase-item-label {
   max-width: inherit;
   display: flex;
   align-items: center;
   font-size: 15px;
 }
 .otoiawase-item-label.isMsg {
    margin-top: 0;
  }
  .otoiawase-item-label-required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
  .otoiawase-item-input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
  .otoiawase-item-textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
  .otoiawase-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }

}
@media screen and (max-width: 1024px) {
  .contents img {
    left: 14px;
  }
  .loliscontents img {
    top: 1300px;
  }
  .kaisyagaiyou{
    top: 1750px;
  }

}

@media screen and (max-width: 539px) {
  .main{
    height: 4000px;
  }
  .contents{
    padding-right: 20px;
    padding-left: 18px;
  }
  .block-button_link{
    top: 1%;
  }
  .loliscontents{
    padding-right: 70px;
    padding-left: 30px;
  }
  .loliscontents img{
    top: 10%;
    left: 20%;
  }
  .block-lolisbutton_link{
    top: 215%;
    left: 20%;
  }
  .kaisyagaiyou{
    top: 2450px;
    left: 0;
    margin-left: 30px;
    margin-right: 10px;
  }
  .otoiawase{
    top: 3250px;

  }
  .otoiawase-item-input{
    margin-left: 0%;
  }
}

@media screen and (max-width: 376px) {
  .main {
    height: 3300px;
  }
  .block-button_link {
    top: 0;
  }
  .loliscontents img {
    left: 0;
    top: 0;
  }

  .otoiawase-item-input {
    margin-left: 0;
  }
  .kaisyagaiyou {
    top: 1800px;

  }
  .otoiawase {
    top: 2550px;
  }
}

@media screen and (width: 540px) {
  .main{
    height: 3900px;
  }
  .block-button_link{
    top: 180%;
  }
  .loliscontents img {
    left: 25%;
    top: 250%;
  }
  .block-lolisbutton_link {
    top: 300%;
    left: 30%;
  }
  .kaisyagaiyou {
    top: 330%;
    margin-right: 3%;
  }
  .otoiawase {
    top: 450%;
  }
  .otoiawase-item-input{
    margin-left: 0%;
  }
}
@media screen and (width: 768px) {
  .kaisyagaiyou {
    top: 190%;
  }
  .loliscontents img {
    top: 155%;
  }
}

@media screen and (width: 375px){
  .block-lolisbutton_link {
    top: 210%;
  }
}
@media screen and (max-width: 360px) {
  .block-lolisbutton_link {
    top: 250%;
  }
}
